      <!-- Fleet -->
            <div ng-show="tab2Ctr.isSet(3)" class="ng-hide">
                <article>
                    <div class="Media">
                        <div class="Media__figure">
                            <h3 class="text-center"><strong class="ng-binding">Boeing 737-700</strong></h3>
                            <img ng-src="img/boeing700.jpg" class="fleet-img" src="img/boeing700.jpg">
                        </div>
                        <div class="Media__body">
                            <p class="ng-binding">Copa Airlines Colombia cuenta con 4 aeronaves.</p>
                            <p class="ng-binding"><img src="img/icon-asiento-business-class.png" class="fleet-icon"> 12 asientos en Clase Ejecutiva</p>
                            <p class="ng-binding"><img src="img/icon-asiento-cabina-principal.png" class="fleet-icon"> 112 asientos en Cabina Principal</p>
                            <a href="http://www.copaair.com/sites/cc/es/nuestros-productos/pages/detalles-tecnicos-boeing-737-700.aspx" class="ng-binding">
                            <img src="img/icon-detalles-tecnicos.png" class="fleet-icon"> 
                            Detalles técnicos
                            </a><br>
                            <a href="http://www.copaair.com/sites/cc/es/informacion-de-viaje/pages/durante-el-vuelo.aspx" class="ng-binding">
                                <img src="img/icon-entretenimient-a-bordo.png" class="fleet-icon"> 
                                Entretenimiento a bordo
                            </a>
                        </div>
                    </div>
                </article>

                <!-- ngRepeat: fleet in contentCtr.fleet.fleets -->
                <article ng-repeat="fleet in contentCtr.fleet.fleets" class="ng-scope">
                    <div class="Media">
                        <div class="Media__figure">
                            <h3 class="text-center"><strong class="ng-binding">Boeing 737-800</strong></h3>
                            <img ng-src="img/boeing800.jpg" class="fleet2model" src="img/boeing800.jpg">
                        </div>
                        <div class="Media__body">
                            <!-- ngRepeat: model in fleet.model --><div ng-repeat="model in fleet.model" class="ng-scope">
                                <h3 class="ng-binding">Modelo 737-800A</h3>
                                <p class="ng-binding"></p>
                                <p ng-show="model.business" class="ng-binding">
                                  <img src="img/icon-asiento-business-class.png" class="fleet-icon"> 
                                  16 asientos en Clase Ejecutiva
                                </p>
                                <p class="ng-binding">
                                  <img src="img/icon-asiento-cabina-principal.png" class="fleet-icon"> 
                                  144 asientos en Cabina Principal
                                </p>
                                <a href="http://www.copaair.com/sites/cc/es/nuestros-productos/pages/detalles-tecnicos-boeing-737-800a.aspx" class="ng-binding">
                                  <img src="img/icon-detalles-tecnicos.png" class="fleet-icon">
                                  Detalles técnicos
                                </a><br>
                                <a href="http://www.copaair.com/sites/cc/es/informacion-de-viaje/pages/durante-el-vuelo.aspx" class="ng-binding">
                                  <img src="img/icon-entretenimient-a-bordo.png" class="fleet-icon">
                                  Entretenimiento a bordo
                                </a>
                            </div><!-- end ngRepeat: model in fleet.model --><div ng-repeat="model in fleet.model" class="ng-scope">
                                <h3 class="ng-binding">Modelo 737-800B *</h3>
                                <p class="ng-binding"></p>
                                <p ng-show="model.business" class="ng-binding">
                                  <img src="img/icon-asiento-business-class.png" class="fleet-icon"> 
                                  16 asientos en Clase Ejecutiva
                                </p>
                                <p class="ng-binding">
                                  <img src="img/icon-asiento-cabina-principal.png" class="fleet-icon"> 
                                  138 asientos en Cabina Principal
                                </p>
                                <a href="http://www.copaair.com/sites/cc/es/nuestros-productos/pages/detalles-tecnicos-boeing-737-800b.aspx" class="ng-binding">
                                  <img src="img/icon-detalles-tecnicos.png" class="fleet-icon">
                                  Detalles técnicos
                                </a><br>
                                <a href="http://www.copaair.com/sites/cc/es/informacion-de-viaje/pages/durante-el-vuelo.aspx" class="ng-binding">
                                  <img src="img/icon-entretenimient-a-bordo.png" class="fleet-icon">
                                  Entretenimiento a bordo
                                </a>
                            </div><!-- end ngRepeat: model in fleet.model -->
                        </div>
                    </div>  
                </article>

                <!-- end ngRepeat: fleet in contentCtr.fleet.fleets -->
                <article ng-repeat="fleet in contentCtr.fleet.fleets" class="ng-scope">
                    <div class="Media">
                        <div class="Media__figure">
                            <h3 class="text-center"><strong class="ng-binding">Embraer 190AR</strong></h3>
                            <img ng-src="img/embraerAR.jpg" class="fleet2model" src="img/embraerAR.jpg">
                        </div>
                        <div class="Media__body">
                            <!-- ngRepeat: model in fleet.model --><div ng-repeat="model in fleet.model" class="ng-scope">
                                <h3 class="ng-binding">Modelo Embraer 190AR A</h3>
                                <p class="ng-binding">Copa Airlines Colombia cuenta con 3 aeronaves.</p>
                                <p ng-show="model.business" class="ng-binding">
                                  <img src="img/icon-asiento-business-class.png" class="fleet-icon"> 
                                  10 asientos en Clase Ejecutiva
                                </p>
                                <p class="ng-binding">
                                  <img src="img/icon-asiento-cabina-principal.png" class="fleet-icon"> 
                                  84 asientos en Cabina Principal
                                </p>
                                <a href="http://www.copaair.com/sites/cc/es/nuestros-productos/pages/detalles-tecnicos-embraer-190ar.aspx" class="ng-binding">
                                  <img src="img/icon-detalles-tecnicos.png" class="fleet-icon">
                                  Detalles técnicos
                                </a><br>
                                <a href="http://www.copaair.com/sites/cc/es/informacion-de-viaje/pages/durante-el-vuelo.aspx" class="ng-binding">
                                  <img src="img/icon-entretenimient-a-bordo.png" class="fleet-icon">
                                  Entretenimiento a bordo
                                </a>
                            </div><!-- end ngRepeat: model in fleet.model --><div ng-repeat="model in fleet.model" class="ng-scope">
                                <h3 class="ng-binding">Modelo Embraer 190AR B</h3>
                                <p class="ng-binding"></p>
                                <p ng-show="model.business" class="ng-binding ng-hide">
                                  <img src="img/icon-asiento-business-class.png" class="fleet-icon"> 
                                  
                                </p>
                                <p class="ng-binding">
                                  <img src="img/icon-asiento-cabina-principal.png" class="fleet-icon"> 
                                  106 asientos en Cabina Principal
                                </p>
                                <a href="http://www.copaair.com/sites/cc/es/nuestros-productos/pages/detalles-tecnicos-embraer-190ar-b.aspx" class="ng-binding">
                                  <img src="img/icon-detalles-tecnicos.png" class="fleet-icon">
                                  Detalles técnicos
                                </a><br>
                                <a href="http://www.copaair.com/sites/cc/es/informacion-de-viaje/pages/durante-el-vuelo.aspx" class="ng-binding">
                                  <img src="img/icon-entretenimient-a-bordo.png" class="fleet-icon">
                                  Entretenimiento a bordo
                                </a>
                            </div><!-- end ngRepeat: model in fleet.model -->
                        </div>
                    </div>  
                </article><!-- end ngRepeat: fleet in contentCtr.fleet.fleets -->
            </div>

            <!-- Hub -->
            <div ng-show="tab2Ctr.isSet(4)" class="ng-hide">
                <!-- ngInclude: 'content/' + contentCtr.currentLang.value + '/hub.html' -->
                <article id="hub" ng-include="'content/' + contentCtr.currentLang.value + '/hub.html'" class="ng-scope">
                	<div class="images ng-scope">
						<img src="img/logo_hub.jpg" class="logo_hub">
						<img src="img/HubdelasAmericas-v1.jpg" class="img_hub">
					</div>

					<p class="ng-scope">Hub de las Américas brinda horarios de vuelo convenientes diseñados para conexiones rápidas y un servicio sin interrupciones de un extremo a otro. Los equipajes son registrados directamente hasta el destino final del pasajero y no es necesario pasar por aduana o por inmigración durante las conexiones. El aeropuerto también cuenta con un gran número de tiendas libres de impuestos.</p>
					<br class="ng-scope">
					<p class="ng-scope">Además, Hub de las Américas ha renovado y extendido recientemente el <a href="http://www.copaair.com/sites/cc/es/nuestros-productos/pages/copa-club.aspx">Copa Club</a>, operado conjuntamente por Copa Airlines y United Airlines. Los pasajeros de <a href="http://www.copaair.com/sites/cc/es/nuestros-productos/pages/clase-ejecutiva.aspx">Clase Ejecutiva</a> y los miembros de Copa Club pueden disfrutar de las instalaciones.</p>

					<h2 class="ng-scope">La forma más directa para conectarse con el continente americano</h2>

					<p class="ng-scope">¿Por qué Hub de las Américas brinda la forma más directa para conectarse con el continente americano?</p>

					<ul class="hub_list ng-scope">
						<li>
							<p>La ubicación geográfica y las condiciones climáticas favorables de Panamá hacen posible que el aeropuerto funcione las 24 horas del día, los 365 días del año</p>
						</li>
						<li>
							<p>Conexiones rápidas sin necesidad de pasar por inmigraciones o aduana</p>
						</li>
						<li>
							<p>Dos pistas modernas garantizan que el tráfico arribe y despegue sin problemas</p>
						</li>
						<li>
							<p>La operación a nivel del mar permite que nuestras aeronaves extiendan su alcance</p>
						</li>
						
					</ul>

					<h2 class="ng-scope">Conectándose con Copa Airlines</h2>

					<p class="ng-scope">¿Por qué motivo volar con Copa Airlines es una experiencia sin igual?</p>

					<ul class="hub_list ng-scope">
						<li>
							<p>Los vuelos de Copa Airlines están programados para reducir los tiempos de conexión, que en promedio llevan 90 minutos.</p>
						</li>
						<li>
							<p>El equipaje es registrado directamente hasta el destino final del pasajero.</p>
						</li>
						<li>
							<p>Más vuelos directos a las ciudades principales del continente americano.</p>
						</li>
						<li>
							<p>Copa Airlines brinda servicio a una gran variedad de destinos en Norte, Centro y Suramérica y el Caribe. Visite nuestra <a href="http://destinationsguide.copaair.com/es/">Guía de destinos.</a></p>
						</li>
						<li>
							<p>Una de las flotas más nuevas de la región con un promedio de 4.3 años. Vea <a href="http://www.copaair.com/sites/cc/es/nuestros-productos/pages/nuestra-flota.aspx">nuestra flota.</a></p>
						</li>
						<li>
							<p>Servicio completo a bordo, que incluye alimentos, bebidas, películas y música.</p>
						</li>
						<li>
							<p>Desempeño superior al 90% en puntualidad, entre los mejores del mundo.</p>
						</li>
					</ul>

					<img src="img/hub-americas-mapa-L.jpg" class="img_hub ng-scope">

				</article>
            </div>
